

[core]
    pager = delta
    editor = nvim
    preloadindex = true  # preload index for faster status

[status]
    branch = true
    showStash = true

[include]
    path = ./themes.gitconfig

[interactive]
    diffFilter = delta --color-only

[delta]
	features = chameleon
	syntax-theme = OneHalfDark
	navigate = true
	line-numbers = true
	plus-style = syntax "#003800"
    minus-style = syntax "#3f0001"
    hyperlinks = true
    true-color = always

[merge]
    conflictstyle = zdiff3

[diff]
    colorMoved = default
    renames = copies

[blame]
	pager = delta

[push]
    autoSetupRemote = true

[log]
    abbrevCommit = true  # short commits

[url "git@git.teko.vn:"]
	insteadOf = https://git.teko.vn/
